* {
  font-family: "IBM Plex Mono", monospace;
}

h2,
h4,
h1 {
  color: #c6cfed;
  text-shadow: 2px 0 4px rgb(255, 60, 0);
}
#title {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imageBox,
.selectedImageBox,
.movedImageBox {
  width: 220px;
  height: 140px;
  display: inline-block;
  max-width: 75%;
  margin: 0;
  text-shadow: 0 0 1px rgb(255, 60, 0);
}
.imageBox:hover,
.selectedImageBox:hover,
.movedImageBox:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
img {
  display: block;
  width: 170px;
  max-width: 170px;
  height: 90px;
  max-height: 90px;
  margin: auto;
}

p {
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  * {
    font-size: 100%;
  }

  .imageBox,
  .selectedImageBox,
  .movedImageBox {
    width: 23%;
    height: 40%;
    max-width: 100%;
    margin: 0;
  }

  img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }

  .imagebox p {
    margin: 0;
    padding: 0;
  }

  #mainCharSection {
    width: 75%;
  }

  @media only screen and (min-width: 200px) {
    * {
      font-size: 100%;
    }
    #mainCharSection {
      width: 100%;
    }
  }
}
